.detailedProduct {
  margin: auto;
}

.cajaDetalle {
  width: 55%;
  margin: auto;
  border: 3px solid rgb(209, 208, 208);
  padding-bottom: 1em;
  box-shadow: 0px 8px 10px 0px rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
}

h3 {
  font-size: 26px;
  margin: 0.8em;
}

.descriptionProducto {
  margin-bottom: 1.5em;
}

.precioProducto {
  margin-top: 1em;
  font-weight: bold;
  font-size: 28px;
}

.PriceDescription {
  font-weight: bold;
  margin-bottom: 1em;
}

.tituloDetalleProducto {
  font-size: 36px;
  margin: 0.8em;
}

.ContenedorBody {
  padding-top: 2em;
  background-color: rgb(240, 238, 238);
  height: 100vh;
}
