@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap");

* {
  font-family: "Baloo Tammudu 2", cursive;
}

.detailedProduct {
  margin: auto;
}

.cajaDetalle {
  width: 45%;
  margin: auto;
  border: 3px solid rgb(209, 208, 208);
  padding-bottom: 1em;
  box-shadow: 0px 8px 10px 0px rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
}

h3 {
  font-size: 26px;
  margin: 0.8em;
}

.descriptionProducto {
  margin-bottom: 1.5em;
  font-size: 26px;
  font-family: "Baloo Tammudu 2", cursive;
}

.precioProducto {
  margin-top: 1em;
  font-weight: bold;
  font-size: 28px;
  font-family: "Baloo Tammudu 2", cursive;
}

.PriceDescription {
  font-weight: bold;
  /* margin-bottom: 1em; */
  font-family: "Baloo Tammudu 2", cursive;
}

.tituloDetalleProducto {
  font-size: 36px;
  margin: 0.5em;
}

.ContenedorBody {
  padding-top: 2em;
  background-color: rgb(240, 238, 238);
  min-height: 100vh;
  padding-bottom: 2rem;
}
