.detailedProduct {
  margin: auto;
}

.cajaDetalle {
  width: 55%;
  margin: auto;
  margin-top: 2em;
  border: 3px solid rgb(209, 208, 208);
  padding-bottom: 1em;
}

h3 {
  font-size: 26px;
  margin: 0.8em;
}

.descriptionProducto {
  margin-bottom: 1em;
}

.precioProducto {
  margin-top: 1em;
  font-weight: bold;
  font-size: 28px;
}

.PriceDescription {
  font-weight: bold;
}

.tituloDetalleProducto {
  font-size: 36px;
  margin: 0.8em;
}
