.cartBodyContainer {
  margin: auto;
  padding-top: 2em;
  background-color: rgb(240, 238, 238);
  min-height: 100vh;
}

.cartContainer {
  width: 50%;
  margin: auto;
  background-color: white;
  padding-top: 0.3em;
  padding-bottom: 0.8em;
  box-shadow: 0px 5px 10px rgb(223, 229, 230);
}

.cartItemsContainer {
  border: 3px solid rgb(219, 219, 219);
  box-shadow: 5px 5px 5px rgb(229, 235, 236);
  padding: 1em;
  display: flex;
  margin: 0.8em;
}

.itemPicture {
  width: 35%;
  margin: 2em;
}

.containerItemDetail {
  width: 50%;
  margin: auto;
  /* margin-top: 2em; */
  display: flex;
}

.containerItemDetailInfo {
  margin: 0;
  width: 60%;
}

.containerPriceDetail {
  width: 40%;
  margin: auto;
  margin-left: 2em;
}

.productName {
  font-size: 24px;
  padding-bottom: 1.5em;
  color: #414040;
}

.productDescription {
  font-size: 16px;
  padding-bottom: 10px;
}

.productDescription {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #555555;
}

.deleteButtonContainer {
  margin: auto;
  width: 3em;
  height: 3em;
  line-height: 4.3em;
}

.botonEliminarProducto {
  /* margin: 5px; */
  /* padding: 1px; */
  padding-top: 5px;
  width: 48%;
}

.prices {
  color: #414040;
}

.FotoBin {
  width: 2em;
  padding-top: 0.5rem;
}

.FotoBin:hover {
  cursor: pointer;
}

.deleteButtonContainer:hover {
  background-color: rgb(219, 219, 219);
  border-radius: 50%;
  line-height: 4.3em;
}

.custom-btnEmptyCart {
  /* width: 130px; */
  margin: 0.3em;
  height: 40px;
  padding: 5px 5px;
  border: 2px solid #d4645e;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.1em;
}

.btnEmptyCart {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btnEmptyCart:hover {
  background: #d4645e;
  color: #fff;
}
.btnEmptyCart:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
}

.custom-btnFinishPurchase {
  /* width: 130px; */
  margin: 0.3em;
  height: 40px;
  padding: 5px 5px;
  border: 2px solid #5eced4;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.1em;
}

.btnFinishPurchase {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btnFinishPurchase:hover {
  background: #5eced4;
  color: #fff;
}
.btnFinishPurchase:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
}

.custom-btnEmpty {
  /* width: 130px; */
  height: 40px;
  padding: 5px 5px;
  border: 2px solid #5eced4;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.1em;
}

.btnEmpty {
  overflow: hidden;
  transition: all 0.3s ease;
}

.btnEmpty:hover:enabled {
  background: #5eced4;
  color: #fff;
}

.btnEmpty:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
}
