.detailButton {
  font-size: 20px;
}

.itemsContainers {
  background-color: white;
  margin: 20px;
  border: 3px solid rgb(219, 219, 219);
  box-shadow: 0px 5px 10px rgb(211, 215, 216);
  transition: box-shadow 100ms ease-out 100ms;
}

.itemsContainers:hover {
  box-shadow: 0px 10px 20px rgb(184, 190, 190);
}

.itemsContainersText {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.7rem;
  text-align: center;
}

.namesBox {
  color: #333333;
  font-size: 26px;
}

.custom-btn {
  margin-top: 5px;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.buttonDetail {
  padding-top: 0.2rem;
}

.btnDetail {
  background: #20b3bb;
  color: #fff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btnDetail span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btnDetail:before,
.btnDetail:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 2px;
  background: #20b3bb;
}

.btnDetail:before {
  right: 0;
  top: 0;
  transition: all 400ms ease;
}

.btnDetail:after {
  left: 0;
  bottom: 0;
  transition: all 400ms ease;
}

.btnDetail:hover {
  color: #414040;
  background: transparent;
}

.btnDetail:hover:before {
  transition: all 400ms ease;
  height: 100%;
}

.btnDetail:hover:after {
  transition: all 400ms ease;
  height: 100%;
}

.btnDetail span:before,
.btnDetail span:after {
  position: absolute;
  content: "";
  background: #20b3bb;
}

.btnDetail span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 2px;
  transition: all 400ms ease;
}

.btnDetail span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: all 400ms ease;
}

.btnDetail span:hover:before {
  width: 100%;
}

.btnDetail span:hover:after {
  width: 100%;
}
