.header {
  background-color: #5eced4;
}

.contenedorHeader {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

.logo {
  width: 7em;
  border-radius: 100%;
  margin: auto;
}

.navBar {
  width: 90%;
  margin-top: 3em;
}

.navBarList {
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: center;
}

.navBarItem {
  margin: 1em;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: underline;
}

.CartIcon {
  width: 5em;
  height: 5em;
  margin: auto;
}

.linkCartIcon {
  width: 5em;
  height: 5em;
  margin: auto;
}

.containerCartIcon {
  background-image: url(./CartWidget/CartIcon.png);
  width: 5em;
  height: 5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cartAmount {
  margin-left: 39%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  background-color: #d4645e;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #dadada;
}

.cartAmount:hover {
  text-decoration: none;
  font-style: none;
}

.linkCartIcon:hover {
  text-decoration: none;
}

.navBarLink:hover {
  text-decoration: none;
}

.custom-btnNav {
  /* width: 130px; */
  /* height: 40px; */
  font-size: 28px;
  padding: 10px 25px;
  border: 2px solid #5eced4;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-13 {
  background: #5eced4;
  color: #fff;
  z-index: 1;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ffffff;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #5eced4;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
}
.btn-13:active {
  top: 2px;
}
