.header {
  background-color: #5eced4;
}

.contenedorHeader {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

.logo {
  width: 7em;
  border-radius: 100%;
  margin: auto;
}

.navBar {
  width: 90%;
  margin-top: 3em;
}

.navBarList {
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: center;
}

.navBarItem {
  margin: 1em;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  text-decoration: underline;
}

.CartIcon {
  width: 4.2em;
  height: 4.2em;
  margin: auto;
}
