* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonesMasMenos {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  height: 29px;
  min-width: 41px;
}

.botonesMasMenos:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.botonesMasMenos:active {
  position: relative;
  top: 1px;
}

.contadorBotones {
  font-size: 20px;
  padding-left: 35px;
  padding-right: 35px;
  border: 1px solid #c9c9c9;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  margin: 0;
  height: 29px;
  padding-top: 3px;
}

.botonAgregar {
  margin: 5px;
  padding: 3px;
  font-size: 20px;
}

.botonAgregar:hover:enabled {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.botonAgregar:active:enabled {
  position: relative;
  top: 1px;
}
