* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonesMasMenos {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  height: 29px;
  min-width: 41px;
}

.botonesMasMenos:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.botonesMasMenos:active {
  position: relative;
  top: 1px;
}

.contadorBotones {
  font-size: 20px;
  padding-left: 38px;
  padding-right: 38px;
  border: 1px solid #c9c9c9;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  margin: 0;
  height: 29px;
  padding-top: 3px;
}

.custom-btnAgregar:enabled {
  /* width: 130px; */
  height: 40px;
  padding: 5px 5px;
  border: 2px solid #5eced4;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.1em;
}

.custom-btnAgregar:disabled {
  /* width: 130px; */
  height: 40px;
  padding: 5px 5px;
  background: #d4645e !important;
  border: 2px solid #d4645e;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.1em;
  color: #1f1f1f;
}

.btnAgregar {
  overflow: hidden;
  transition: all 0.3s ease;
}

.btnAgregar:hover:enabled {
  background: #5eced4;
  color: #fff;
}

.btnAgregar:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
}

.custom-btnFinalCart {
  /* width: 130px; */
  margin: 0.3em;
  height: 40px;
  padding: 5px 5px;
  border: 2px solid #5eced4;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.1em;
}

.custom-btnFinalContinue {
  /* width: 130px; */
  margin: 0.3em;
  height: 40px;
  padding: 5px 5px;
  border: 2px solid #a5eff3;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.1em;
}

.btnFinalCart {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btnFinalCart:hover {
  background: #5eced4;
  color: #fff;
}
.btnFinalCart:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
}

.btnFinalContinue {
  overflow: hidden;
  transition: all 0.3s ease;
}
.btnFinalContinue:hover {
  background: #c3f2f5;
  color: rgb(0, 0, 0);
}
.btnFinalContinue:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
}

.botonAgregar {
  margin: 5px;
  padding: 3px;
  font-size: 20px;
}

.botonAgregar:hover:enabled {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.botonAgregar:active:enabled {
  position: relative;
  top: 1px;
}
